modules = ["python-3.12"]
run = "streamlit run app.py"

[nix]
channel = "stable-24_05"
packages = ["glibcLocales"]

[deployment]
run = ["sh", "-c", "python app.py"]

[[ports]]
localPort = 8501
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "Flask Server"
author = 41944810
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"
